<button (click)="roll(dices)" class="btn btn-block btn-primary">Roll dice</button>

<div class="dices">
  <svg *ngFor="let dice of dices" (click)="toggle(dice)" [innerHTML]="shapes[dice.shape] | safeHtml" class="dice" viewBox="0 0 50 50"></svg>
</div>

<div class="history">
  <h3>History</h3>
  <ul class="list-unstyled">
    <li *ngFor="let r of history">
      {{ r.date | date: "mediumTime" }}:
      <svg *ngFor="let shape of r.dices" [innerHTML]="shapes[shape] | safeHtml" class="dice" viewBox="0 0 50 50"></svg>
    </li>
  </ul>
</div>
