.dices {
  margin-top: 30px;
}

.dice {
  height: 50px;
  width: 50px;
  display: inline-block;
  margin-bottom: 5px;
  & + & {
    margin-left: 5px;
  }
}

.history {
  margin-top: 30px;
  .dice {
    height: 30px;
    width: 30px;
  }
}
