<div *ngIf="open" id="panel">
  <div *ngIf="tab === 'info'" id="info">
    <div class="room">
      <div class="room-name">{{ room.name }}</div>
      <div class="room-game">{{ room.game }}</div>
      <div class="room-players">{{ room.players }} players</div>
    </div>

    <a [routerLink]="['/lobby']">
      leave room
    </a>
  </div>
  <app-dices *ngIf="tab === 'dices'" id="dices"></app-dices>
</div>
<div class="tabs">
  <ng-container *ngIf="open">
    <button (click)="tab = 'info'" [class.active]="tab === 'info'" class="btn btn-link">
      <i class="fas fa-fw fa-info-circle"></i>
    </button>
    <button (click)="tab = 'dices'" [class.active]="tab === 'dices'" class="btn btn-link">
      <i class="fas fa-fw fa-dice"></i>
    </button>
  </ng-container>
  <button (click)="open = !open" id="toggler" class="btn btn-link" [class.text-light]="!open">
    <i class="fas fa-fw" [class]="open ? 'fa-times-circle' : 'fa-hamburger'"></i>
  </button>
</div>
