<div class="area">
  <svg class="game" viewBox="0 0 1920 1080" #box>
    <image x="0" y="0" width="1920" height="1080" class="board" [attr.href]="board" />
    <g
      *ngFor="let token of tokens"
      cdkDragBoundary=".game"
      cdkDrag
      [cdkDragFreeDragPosition]="token"
      (cdkDragMoved)="move(token, $event)"
      (cdkDragStarted)="top(token)"
      [innerHTML]="shapes[token.shape] | safeHtml"
      class="token"
    ></g>
  </svg>
</div>

<app-hud id="hud" [room]="room"></app-hud>

